@font-face {
  font-family: "blackjack";
  src: url("../static/blackjack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$default-font-family: "blackjack", "Helvetica Neue", Arial, Helvetica,
  sans-serif;
