@import "config/_breakpoints.scss";
@import "config/_reset.scss";
@import "config/_fonts.scss";
@import "config/_colors.scss";
@import "components/_header.scss";
@import "components/_thumbnails.scss";
@import "components/_modal.scss";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $default-font-family;
}
